
@import 'bootstrap/dist/css/bootstrap.css';
@import 'bootstrap-icons/font/bootstrap-icons.css';
@import 'nivo-slider.css';
@import 'owl.carousel.min.css';
@import 'lightbox2/dist/CSS/lightbox.min.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background-color: #fff8f8;
    background-position: center;
}
.product-spec__table table{
    width: auto !important;
}

.nivo-slider{
    margin-top: 15px;
    box-shadow: 2px -2px 4px 0px #999;
}
.popover{
    max-width: 100%; /* Max Width of the popover (depending on the container!) */
}
.my-cart{
    max-width: 1000px;
    max-height: 500px;
    overflow-y: auto;
}
#header-fixed.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
}

#navigation #menus > li > .sub-menu-content{
    display: none;
}
#navigation #menus > li.active > .sub-menu-content{
    display: flex;
}
#navigation #menus > li.active > .sub-menu-title{
    background: #ccc;
}
#box-tv {
    max-width: 570px;
    transition: .5s;
    width: 570px;
}
.top #box-tv{
    position: fixed;
    top: 100px;
    z-index: 1;

}
.bot #box-tv{
    position: absolute;
    bottom: 15px;
    z-index: 1;
    align-self: flex-end;
}
nav span[aria-current="page"] > span{
    background: #0e7490 !important;
    color: #fff;
}
@media (max-width:1280px) {
    #box-tv {
        position: relative !important;
        max-width: unset !important;
    }
}

@media (max-width:1000px) {
    #navigation #menus > li.active > .sub-menu-content{
        display: block;
    }
    #header-fixed.sticky {
        position: relative;
    }
}

.rating > input {display: none;}  /* Remove radio buttons */

.rating > label:before {
    content: "\F586"; /* Star */
    display: inline-block;
    font-family: bootstrap-icons !important;
    font-style: normal;
    font-weight: 400 !important;
}

.rating > label
{
    color: #222222; /* Start color when not clicked */
}

.rating > input:checked ~ label
{ color: #ffca08 ; } /* Set yellow color when star checked */

.rating > input:hover ~ label
{ color: #ffca08 ;  } /* Set yellow color when star hover */

